{
    "sections": [
        {
            "name": "NHibernate",
            "value_objects": [
                { "name": "dialect", "value": "NHibernate.Dialect.SQLiteDialect,NHibernate" },
                { "name": "driver", "value": "NHibernate.Driver.SQLite20Driver,NHibernate" },
                { "name": "keywordsAutoImport", "value": "auto-quote" },
                { "name": "isolationLevel", "value": "Unspecified" },
                { "name": "timeout", "value": 5 },
                { "name": "logFormattedSql", "value": "true" },
                { "name": "logSqlInConsole", "value": "true" },
                { "name": "autoCommentSql", "value": "true" },
                { "name": "batchSize", "value": 16 },
                { "name": "hqlToSqlSubstitutions", "value": "true 1, false 0, yes 'Y', no 'N'" },
                { "name": "connectionReleaseMode", "value": "OnClose" },
                { "name": "connectionString", "value": "Data Source=|DataDirectory|database.s3db; Version=3; Page Size=8192;" },
                { "name": "hbm2dllAuto", "value": "create" }
            ]
        }
    ]
}